server:
  port: 8080
  servlet:
    context-path: /resumebp
spring:
  application:
    name: resumebp
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://106.14.142.209:3306/resumebp?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
  devtools:
    restart:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    